div.introduction{
    position: fixed;
    grid-column: 3/5;
    grid-row: 2/3;
}
div.navbar{
    position: fixed;
    grid-column:1/5;
    grid-row:1/2;
}
div.footer{
    position: fixed;
    grid-column:1/5;
    grid-row:4/5;
}
div.assignments{
    position: absolute;
}
div.portfolio{
    border: 3px solid #fff
}
div.contact{
    border: 3px solid #fff
}
div.schedule{
    border: 3px solid #fff
}
li{
    border: 3px orangered;
    border-radius: 50px 40px 30px 20px;
}
h1{
    border: 2px dashed orange;
    border-radius: 10px 10px 10px 20px;
}
p::first-letter{
    font-size: 200%
}
p:nth-child(1){
    box-shadow: 10px -20px 10px gray;
}
ul:nth-child(2n){
    background-color: slategrey;
}
h1:hover{
    transform:rotate(45deg);
}
h1 +p{
    transform: scale(0.85);
    opacity: 75%;
}
table{
    border: 1px dashed red;
    padding: 1em 5%;
    vertical-align: middle;
    empty-cells: show;
}